# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# 데이터셋 원본 (용량 큼)
data/raw/

# macOS
.DS_Store

# IDE
.idea/

# 그래프 이미지 (용량 절약)
data/**/*.png
data/**/*.jpg

# 대용량 데이터 파일 제외
data/MNIST/
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz
data/ann_mnist_results.csv
data/cnn_cifar10_results.csv
